<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="row">
<div class="col-3">
<h4><%= @user.username %></h4>
<% if current_user.id == @user.id %>
<%= link_to "Edit Bio", edit_user_path(current_user), class: "btn btn-warning" %>
<% end %>
<p><em><%= @user.biography %></em></p>


<h6>Following</h6>
<ul>
  <% for followship in @user.followships %>
    <li>
    <%= followship.following.username %>
    <% if current_user.id == @user.id %>
    <%= link_to "Unfollow", followship, :method => :delete %>
    <% end %>
    </li>
  <% end %>
</ul>

<h6>Followers</h6>
<ul>
  <% for following in @user.inverse_followings %>
    <li>
    <%= following.username %>
    </li>
  <% end %>
</ul>
</div>

<div class="col-8 d-flex flex-wrap">
<% @user.posts.each do |p| %>
  <div class="border col-4 p-2 mx-1 text-center">
    <%= image_tag p.main_image.variant(resize_to_limit: [200, 200]) %>
    <div class="d-block">
    <p>"<%= p.content %>"</p>
    <p>Posted by <%= p.user.firstname %></p>
  </div>
  </div>
<% end %>
</div>
</div>
