<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="row">
<div class="col-3">
<h4><%= @user.username %></h4>
<% if current_user.id != @user.id %>
    <% if current_user.followships.length == 0 %>
        <p><%= link_to "Follow", followships_path(:following_id => @user.id), :method => :post %></p>
    <% else %>
      <% if @follow_list.include? @user.id %>
        <p><%= link_to "Unfollow", @followships.where(:user_id => current_user.id, :following_id => @user.id).first, :method => :delete  %></p>
      <% else %>
        <p><%= link_to "Follow", followships_path(:following_id => @user.id), :method => :post %></p>
      <% end %> 
    <% end %> 
  <% end %> 
<% if current_user.id == @user.id %>
<%= link_to "Edit Bio", edit_user_path(current_user), class: "btn btn-warning" %>
<% end %>
<p><em><%= @user.biography %></em></p>


<h6>Following</h6>
<ul>
  <% for followship in @user.followships %>
    <li>
    <%= link_to followship.following.username, user_path(followship.following.id) %>
    <% if current_user.id == @user.id %>
    <%= link_to "Unfollow", followship, :method => :delete %>
    <% end %>
    </li>
  <% end %>
</ul>

<h6>Followers</h6>
<ul>
  <% for following in @user.inverse_followings %>
    <li>
    <%= link_to following.username, user_path(following.id) %>
    </li>
  <% end %>
</ul>
</div>

<div class="col-8 d-flex flex-wrap">
<% @user.posts.reverse.each do |p| %>
  <div class="border col-4 p-2 mx-1 text-center">
    <%= link_to post_path(p) do %>
    <%= image_tag p.main_image.variant(resize_to_limit: [200, 200]) %>
    <% end %>
    <div class="d-block">
    <p>"<%= p.content %>"</p>

    <% p.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
    
    <p>Posted by <%= p.user.firstname %></p>
  </div>
  </div>

<% end %>
</div>
</div>
