<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<div class="row d-flex flex-wrap">
<% @posts.reverse.each do |p| %>
  <div class="border col-3 p-2 mx-1 text-center">
    <%= link_to post_path(p) do %>
    <%= image_tag p.main_image.variant(resize_to_limit: [250, 250]) %>
    <% end %>
    <div class="d-block">
      <p>"<%= p.content %>"</p>

    <% p.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>

      <p>Posted by <%= p.user.firstname %></p>
    </div>
  </div>
<% end %>
</div>