<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
<h2>Create a new post</h2>
<%= form_for [@user, @post] do |f| %>
    <div class="form-row">
        <%= f.label :main_image, "Upload Image"%>
        <%= f.file_field :main_image %>
    </div>
    <div class="form-row">
        <%= f.label :content, "Caption"%>
        <%= f.text_field :content %>
    </div>
    <div class="form-row">
        <%= f.label :tag_list, "Hashtags"%>
        <%= f.text_field :tag_list %>
    </div>
    
    <%= f.submit %>
<% end %>