<h2>Create a new post</h2>
<% if @post.errors.any? %>
  <%= pluralize(@post.errors.count, "error") %>
    <% @post.errors.full_messages.each do |message| %>
      <div class="alert alert-danger"> <%= message %> </div>
    <% end %>
<% end %>
<%= form_for [@user, @post] do |f| %>
    <div class="form-row">
        <%= f.label :main_image, "Upload Image"%>
        <%= f.file_field :main_image %>
    </div>
    <div class="form-row">
        <%= f.label :content, "Caption"%>
        <%= f.text_field :content %>
    </div>
    
    <%= f.submit %>
<% end %>