<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<div class="container">
  <div class="col-md-6">
    <p><strong><%= link_to @post.user.username, user_path(@post.user.id) %></strong></p>
    <%= image_tag @post.main_image.variant(resize_to_limit: [500, 500]) %>
    <p>"<%= @post.content %>"</p>

    <% @post.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
    
  </div>
  <div class="col-md-6">
    <div>
      <%= form_for [@post, @comment] do |f| %>
        <div class="form-row">
          <%= f.label :content, "Comment: " %>
          <%= f.text_area :content, placeholder: "...", :cols => 100, :rows => 10 %>
        </div>
        <br>
        <%= f.submit "Submit"%>
      <% end %>
    </div>
  </div>
    <table class="table mt-4">
      <tr>
        <td>comment</td>
        <td>by</td>
      </tr>
      <% @post.comments.each do |comment| %>
        <tr>
          <td><%= comment.content %></td>
          <td>@<%= comment.user.username %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>