<div class="container">
  <div class="row">

    <div class="col-3">
      <h4><p><strong><%= link_to @post.user.username, user_path(@post.user.id) %></strong></p></h4>
      <% if current_user.id != @post.user.id %>
          <% if current_user.followships.length == 0 %>
              <p><%= link_to "Follow", followships_path(:following_id => @post.user.id), :method => :post %></p>
          <% else %>
            <% if @follow_list.include? @post.user.id %>
              <p><%= link_to "Unfollow", @followships.where(:user_id => current_user.id, :following_id => @post.user.id).first, :method => :delete  %></p>
            <% else %>
              <p><%= link_to "Follow", followships_path(:following_id => @post.user.id), :method => :post %></p>
            <% end %> 
          <% end %> 
        <% end %> 
      <% if current_user.id == @post.user.id %>
      <%= link_to "Edit Bio", edit_user_path(current_user), class: "btn btn-warning" %>
      <% end %>
      <p><em><%= @post.user.biography %></em></p>

      <h6>Following</h6>
      <ul>
        <% for followship in @post.user.followships %>
          <li>
          <%= link_to followship.following.username, user_path(followship.following.id) %>
          <% if current_user.id == @post.user.id %>
          <%= link_to "Unfollow", followship, :method => :delete %>
          <% end %>
          </li>
        <% end %>
      </ul>

      <h6>Followers</h6>
      <ul>
        <% for following in @post.user.inverse_followings %>
          <li>
          <%= link_to following.username, user_path(following.id) %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-6">
    <p><strong><%= link_to @post.user.username, user_path(@post.user.id) %></strong></p>
    <%= image_tag @post.main_image.variant(resize_to_limit: [500, 500]) %>
    <p>"<%= @post.content %>"</p>

    <% @post.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
    
  </div>
  <div class="col-md-6">
    <div>
      <%= form_for [@post, @comment] do |f| %>
        <div class="form-row">
          <%= f.label :content, "Comment: " %>
          <%= f.text_area :content, placeholder: "...", :cols => 100, :rows => 10 %>
        </div>
        <br>
        <%= f.submit "Submit"%>
      <% end %>
    </div>
  </div>
      <table class="table mt-4">

        <tr>
          <td>comment</td>
          <td>by</td>
        </tr>

          <% @post.comments.each do |comment| %>
            <tr>
              <td><%= comment.content %></td>
              <td>@<%= comment.user.username %></td>
            </tr>
          <% end %>
        </table>
    </div>

  </div>
</div>