<!DOCTYPE html>
<html>
  <head>
    <title>RailsInstagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# START NAVBAR %>
    <nav class="navbar navbar-left navbar-expand-lg navbar-light bg-light">
    <%= link_to "RailsInstagram", posts_index_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <%= link_to "Home", posts_index_path, class: "nav-item nav-link" %>
        <% if user_signed_in? %>
          <%# current_user.avatar %>
          <%= link_to "Profile", user_path(current_user), class: "nav-item nav-link" %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-item nav-link" %>
          <%= link_to "Log In", new_user_session_path, class: "nav-item nav-link" %>
        <% end %>
      </div>
    </div>
  </nav>
  <%# END NAVBAR %>

  <div class="container">
  <%# START FLASH MESSAGES %>
    <% if notice %>
      <p class="notice alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end%>

    <%= yield %>
  <%# END FLASH MESSAGES %>
  </body>
  </div>
</html>
