<!DOCTYPE html>
<html>
  <head>
    <title>RailsInstagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <% if notice %>
      <p class="alert alert-success notice"><%= notice %></p>
      <% end %>
  <% if alert %>
      <p class="alert alert-danger "><%= alert %></p>
  <% end %>
  <% if user_signed_in? %>
    <span>Welcome, <%= current_user.username %>!</span>
    <%=  link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
        <%= link_to "Sign Up", new_user_registration_path%>
        <%= link_to "Sign In", new_user_session_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
